{% extends 'base.html' %}

{% block content %}

<h1>Posts</h1>
<ul class="list-group">
    {% for post in post_list %}
    <li class="list-group-item">
        <div class="card border-light mb-3">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'post_detail_view' post.pk %}" class="text-decoration-none">{{ post.title}}</a>
                    <small class="text-muted">
                        <a href="{% url 'category' post.category|slugify %}" class="text-secondary"
                            style="text-decoration: none;"><small class="text-muted">{{ post.category }}</small> </a>
                    </small>
                </h5>
                <p class="card-text">{{ post.body|slice:":255" }}</p>
                <p class="card-text">
                    <small class="text-muted">{{ post.created_at|date:'F d, Y' }} By {{ post.author}}</small>
                    {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                    <a href="{% url 'edit_post_view' post.pk %}" class="text-decoration-none">(Edit)</a> -
                    <a href="{% url 'delete_post' post.pk %}" class="text-decoration-none">(Delete)</a>
                    {% endif %}
                    {% endif %}
                </p>
                <a href="{% url 'post_detail_view' post.pk %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% for item in category_list %}
{{ item }} <br>
{% endfor %}

{% endblock %}