{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}

<div class="card-body">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="" class="card-img-top">
        {% endif %}
        <h5 class="card-title text-primary">{{ post.title}}</h5>
        <p class="card-text">{{ post.body|safe }}</p>
        <p class="card-text">
                <small class="text-muted">{{ post.created_at|date:'F d, Y' }} By {{ post.author}}</small>
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                <a href="{% url 'edit_post_view' post.pk %}" class="text-decoration-none">(Edit)</a> -
                <a href="{% url 'delete_post' post.pk %}" class="text-decoration-none">(Delete)</a>
                {% endif %}
                {% endif %}
        </p>
        <a href="{% url 'post_list_view' %}" class="btn btn-primary">back</a>
        <br><br>
        <hr>
        <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                {% if user.is_authenticated %}
                {% if liked %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">
                        Dislike
                </button>
                {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
                        Like
                </button>
                {% endif %}
                {% else %}
                <small><a href="{% url 'login' %}" class="text-decoration-none">Login</a> required to like.</small>
                {% endif %}

                ( {{ likes_count }} )
        </form>
</div>

{% endblock %}