{% extends 'base.html' %}

{% block content %}

<h1>Posts</h1>
<ul>
    {% for post in post_list %}
    <li><a href="{% url 'post_detail_view' post.pk %}">{{ post.title }}</a>
        - {{ post.author }} -
        {{ post.created_at }}
        {% if user.is_authenticated %}
        <a href="{% url 'edit_post_view' post.pk %}">Edit</a> -
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
        <br>
        {{ post.body|slice:":150" }}
    </li>
    {% endfor %}
</ul>

{% endblock %}