{% extends 'base.html' %}

{% block title %}
Edit the blog post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}

<h1>Edit Post</h1>
<br>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-primary">Update</button>
    </form>
</div>
{% else %}
You are not allowed for this...
{% endif %}
{% else %}
You are not logged in...
{% endif %}

{% endblock %}