{% extends 'base.html' %}

{% block title %}
Edit profile page
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == profile.user.id %}
<h1>Edit Profile</h1>
<br>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Update</button>
    </form>
</div>
{% else %}
You are not currect user...
{% endif %}
{% else %}
You are not logged in...
{% endif %}

{% endblock %}