{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<h1>Login</h1>
<br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button class="btn btn-primary">Login</button>
        <br><br>
        Don't have account?<a href="{% url 'register' %}" class="text-decoration-none">Signup Now</a>
    </form>
</div>

{% endblock %}